.container {
  padding: 0.5em 2em;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 10em;
  cursor: pointer;
}

.menu-list {
  display: flex;
  list-style: none;
}

li {
  margin: 1em;
}

button:focus,
img:focus {
  outline: 0px;
}

.btn-simple {
  font-family: Epilogue-ExtraBold;
  color: black;
  cursor: pointer;
  border-radius: 3em;
  border: none;
  padding: 1em 2em;
  background-color: #ffffff;
  box-shadow: 0px 0px 52px -12px rgba(0, 0, 0, 0.25);
}

.btn-green {
  font-family: Epilogue-ExtraBold;
  color: white;
  cursor: pointer;
  border-radius: 3em;
  border: none;
  padding: 1em 2em;
  background-color: #45bf87;
}

.btn-pink {
  font-family: Epilogue-ExtraBold;
  color: white;
  cursor: pointer;
  border-radius: 3em;
  border: none;
  padding: 1em 2em;
  background-color: #fad0d0;
}

.dropdown-content {
  display: none;
  position: absolute;
  transition: ease-in 0.3s;
  font-family: Epilogue-Bold;
  color: lightgrey;
  background-color: white;
  margin-top: 2em;
  border-radius: 0.7em;
  padding: 1em;
  box-shadow: 0px 0px 52px -7px rgba(0, 0, 0, 0.25);
  z-index: 3000;
}

li {
  list-style-type: none;  
}

.link-down {
  font-family: Epilogue-Bold;
  color: lightgrey;
}
.link-down:hover {
  font-family: Epilogue-Bold;
  cursor: pointer;
  color: #45bf87;
}

ul {
  padding: 0;
}

span{
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;  
  color: #45bf87;
  font-family: Epilogue-Bold; 
}
