<div class="container">
    <nav class="nav">
      <img
        class="logo"
        src="../../assets/images/madame-cantine.svg"
        alt="Logo Madame Cantine"
      />
      <ul class="menu-list">
          <li>
              <button class="btn-simple" routerLink="/menus">Menus</button>
          </li>
          <li>
              <button class="btn-green" routerLink="/test">Inscription</button>
          </li>
          <li>
              <button class="btn-pink" routerLink="/test">Connexion</button>
          </li>
      </ul>
    </nav>
  </div>
  