<div class="container">
    <nav class="nav">
      <img
        class="logo"
        src="../../assets/images/madame-cantine.svg"
        alt="Logo Madame Cantine"
      />
      <ul class="menu-list">
          <li><button class="btn-simple">Menus</button></li>
          <li><button *ngIf="!isConnected()" class="btn-green">Inscription</button></li>
          <li><button *ngIf="currentUser" class="btn-green">Mon compte</button></li>
          <li><button *ngIf="!isConnected()" class="btn-pink" routerLink="/connexion">Connexion</button></li>
          <li><button *ngIf="isConnected()" (click)="logout()" class="btn-pink">Déconnexion</button></li>
          <li *ngIf="currentUser"><span>{{ currentUser.name }}</span><span>{{ currentUser.firstname }}</span></li>
      </ul>
    </nav>
  </div>
  <div *ngIf="currentUser && isLunchLady">
    <p>Salut {{ currentUser.firstname }} !</p>
  </div>
  