<!-- Footer avertissement + Cagnote -->
<footer>
    <div class="compte-info">
        <div class="compte-info-card-item cagnote" *ngIf="currentUser">
            <p>Ma Cagnote est de :</p>
            <p>{{currentUser.wallet}} €</p>
        </div>
        <!-- <div class="user-info">
            <p>Afin de créditer votre cagnotte,
               veuillez passer au comptoir
               de Mme Cantine, merci.</p>
        </div> -->
        <div class="compte-info-card-item fin-commandes">
            <p id="prefixe"></p>
            <p id="compte_a_rebours"></p>
        </div>
    </div>
</footer>

<!-- Footer avertissement + Cagnote -->