<!-- Footer avertissement + Cagnote -->
<footer>
    <div class="compte-info">
        <div class="compte-info-card-item cagnote"  *ngIf="isConnected() && !currentUser.isLunchLady">
            <p>Ma Cagnote est de :</p>
            <p>{{currentUser.wallet}} €</p>
        </div>
        <div class="" *ngIf="isConnected() && currentUser.isLunchLady">
            <button 
                routerLink="/user-list"
                class="btn-green get-user">User List
            </button>
            <button 
            routerLink="/creer-plat"
            class="btn-pink get-user">Créer un plat
        </button>
        </div>
        <!-- <div class="user-info">
            <p>Afin de créditer votre cagnotte,
               veuillez passer au comptoir
               de Mme Cantine, merci.</p>
        </div> -->
    </div>
</footer>

<!-- Footer avertissement + Cagnote -->
