<div class="container">
  <h1>Nouveau menu</h1>
</div>

<div class="form-container">
  <form [formGroup]="menuForm" (ngSubmit)="createMenu()">
    <div class="row">
      <div class="col">
        <label>Nom :</label>
        <input type="text" placeholder="Menu Festif" formControlName="nom" />
      </div>
      <div class="col">
        <label>Prix :</label>
        <input type="number" placeholder="12 euro" formControlName="prix" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Disponibilité :</label>
        <input type="text" formControlName="dispo"/>
      </div>
      <div class="col">
        <label>Plats :</label>
        <select  (change)="selectedPlats($event)"  >
          <option>Choisir plats</option>
          <option *ngFor="let meal of meals" [ngValue]="meals.label">{{meal.label}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Description</label>
        <textarea cols="30" rows="10" formControlName="desc"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn-green">Valider</button>
      </div>
    </div>
  </form>
</div>
