<div class="main-container">
  <div class="container">
    <h1>{{ meal.label }}</h1>
    <hr />
    <div class="presentation">
      <div class="left">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
          deserunt repellendus optio, iusto aut hic distinctio laborum. Ipsa
          similique ea explicabo, quod saepe quia ut perferendis, dolore
          aspernatur iure iusto!
        </p>
        <div>
          <button class="btn-green" routerLink="/">Commander</button>
        </div>
      </div>
      <div>
        <img
          src="https://img.freepik.com/vecteurs-libre/assiette-couverts_1284-42854.jpg?size=626&ext=jpg"
          alt="image de test"
        />
      </div>
    </div>
  </div>
</div>
