<div *ngIf="menu">
  <div class="main-container">
    <div class="container">
      <div class="header">
        <h1>{{ menu.label }}</h1>
        <span>{{ menu.priceDF }} €</span>
      </div>
      <hr />
      <div class="presentation">
        <div class="left">
          <h4 *ngIf="menu.meals">{{ menu.meals[0].label }}</h4>
          <ul *ngIf="menu.meals">
            <li *ngFor="let ingredient of menu.meals[0].ingredients">
              {{ ingredient.label }}
            </li>
          </ul>
          <button class="btn-green" routerLink="/">Commander</button>
        </div>
        <div>
          <img [src]="imgSrc" alt="imgSrc" />
        </div>
      </div>
    </div>
  </div>
</div>
