<div class="container">
  <h1>Inscription</h1>
</div>

<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col">
        <label>Nom :</label>
        <input type="text" placeholder="Nom" formControlName="nom" />
      </div>
      <div class="col">
        <label>Prenom :</label>
        <input type="text" placeholder="Prenom" formControlName="prenom" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Email :</label>
        <input type="email" placeholder="email" formControlName="email" />
      </div>
      <div class="col">
        <label>Telephone :</label>
        <input type="tel" placeholder="tel" formControlName="tel" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Mot de passe :</label>
        <input
          type="password"
          placeholder="password"
          formControlName="password"
        />
      </div>
      <div class="col">
        <label>Confirmer mot de passe :</label>
        <input type="password" placeholder="password" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Adresse</label>
        <input type="text" placeholder="adresse" formControlName="adresse" />
      </div>
      <div class="col">
        <label>Code postal :</label>
        <input
          type="text"
          placeholder="code postal"
          formControlName="codePostal"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Ville</label>
        <input type="text" placeholder="ville" formControlName="ville" />
      </div>
    </div>

    <div *ngIf="error">{{ error }}</div>

    <div class="row">
      <div class="col">
        <button class="btn-green">S'inscrire</button>
      </div>
    </div>
  </form>
</div>
