<div class="container" *ngIf="menu">
  <div class="header">
    <h1>{{ menu.label }}</h1>
    <div>
      <span
        *ngIf="message"
        [ngClass]="{
          success: messageType === true,
          alert: messageType === false
        }"
        >{{ message }}</span>
    </div>
  </div>

  <div class="menu-container">
    <div *ngFor="let meal of menu.meals">
      <div class="menu-item">
        <div class="header">
          <h3>{{ meal.label }}</h3>
        </div>
        <div class="row">
          <ul *ngIf="meal.ingredients">
            <li *ngFor="let ingredient of meal.ingredients">
              {{ ingredient.label }}
            </li>
          </ul>
          <img
            src="../../assets/images/meal/{{ meal.label }}.png"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="btn">
    <button class="btn-green" (click)="addCommande(menu)">Commander</button>
  </div>
</div>
